#User Id
User.Id = user1

#IUser rmi service exposed to Apps
User.Service = userdaemon
User.Directory.rmiregistry = C:\\Program Files\\Java\\jdk1.7.0_01\\bin\\rmiregistry.exe

#User.USBPath = D:\\RA\\ProtoType\\userUSB\\
User.USBPath = E:\\data\\userUSB\\

User.StatusFile = E:\\data\\user\\status.cfg
User.ConfigurationFile = E:\\data\\user\\configuration.cfg

User.Directory.path = E:\\data\\user\\downloads\\
User.DataLog.Directory.path = E:\\data\\DBServer\\

#User.Directory.path = E:\\ishani\\ContentBasedNetwork\\user1\\downloads\\

#user's port number for client connection 
User.NetworkStack.Port = 2082

#information for data connection
#User.Custodian.DataConnection.Server = mycacheserver
#User.Custodian.DataConnection.Port = 8700
User.Custodian.DataConnection.Server = mycustodian
User.Custodian.DataConnection.Port = 2081
User.port = 2080

User.SyncServer.DataConnection.Server = myrsyncserver
User.SyncServer.DataConnection.Port = 6789

User.Custodian.IP = mycustodian
#User.Custodian.PublicIP = mypubliccustodian

User.RSyncServer.IP = myrsyncserver
User.RSyncServer.service = rsync
User.Custodian.Service = custodian

#maximum file downloads for User
User.MaximumDownloads = 40

NetworkStack.Scheduler.ConnectionPoolSize = 20
NetworkStack.SendingScheduler.QueueSize = 20
NetworkStack.ListeningScheduler.QueueSize = 20
NetworkStack.SegmentSize = 10240
NetworkStack.dtnSegmentSize = 102400
NetworkStack.logSegmentSize = 1024

Routing.allowDTN = 1
DTN.Router.StatusFile = status.cfg
DTN.Router.ConfigFile = CDN.cfg