<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UserInterFace</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>ruralcdn.pubsub.LogoutUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserValid</servlet-name>
    <servlet-class>ruralcdn.pubsub.UserValid</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>ruralcdn.pubsub.UserRegs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>ruralcdn.pubsub.UploadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>ruralcdn.pubsub.FileDownload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileDownloadNew</servlet-name>
    <servlet-class>ruralcdn.pubsub.FileDownloadNew</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileDelete</servlet-name>
    <servlet-class>ruralcdn.pubsub.FileDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexBuilder</servlet-name>
    <servlet-class>ruralcdn.pubsub.IndexBuilder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsertoUserSubcription</servlet-name>
    <servlet-class>ruralcdn.pubsub.UsertoUserSubcription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsertoCatSubsc</servlet-name>
    <servlet-class>ruralcdn.pubsub.UsertoCatSubsc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsertoLocSubsc</servlet-name>
    <servlet-class>ruralcdn.pubsub.UsertoLocSubsc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveSubsc</servlet-name>
    <servlet-class>ruralcdn.pubsub.RemoveSubsc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserValid</servlet-name>
    <url-pattern>/UserValid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/FileDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDelete</servlet-name>
    <url-pattern>/FileDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexBuilder</servlet-name>
    <url-pattern>/IndexBuilder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsertoUserSubcription</servlet-name>
    <url-pattern>/UsertoUserSubcription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsertoCatSubsc</servlet-name>
    <url-pattern>/UsertoCatSubsc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsertoLocSubsc</servlet-name>
    <url-pattern>/UsertoLocSubsc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveSubsc</servlet-name>
    <url-pattern>/RemoveSubsc</url-pattern>
  </servlet-mapping>
</web-app>